@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.chirag {
  display: flex;
  justify-content: center;
  font-size: 100px;
  animation: slideIn 1s ease-out; /* Adjust the duration and timing function as needed */
}
